<html>
  <head>
    <link rel="stylesheet" href="../styles/MainPage.css" />
    <title>Playball</title>
  </head>

  <body>
    <header>
      <img class="Logo" src="../resources/LOGO2.png" />

      <nav>
        <div class="container">
          <div>
            <a href="#"><span>Home</span></a>
          </div>
          <div><a href="#">Profile</a></div>
          <div><a href="#">My games</a></div>
          <div><a href="#" onclick="openForm()">Log in</a></div>
        </div>
      </nav>
    </header>

    <main>
      <section class="section1" id="sect1">
        <div class="FMDiv">Playbook</div>
        <h3>Find.Book.Play</h3>
        <div class="mainDiv">
          <div><a href="#"> Sign up</a></div>
          <div id="popLearn">
            <a href="#" onclick="showInfo()">Learn more</a>
          </div>
        </div>
      </section>

      <section class="section2">
        <div>SERVICES</div>
        <h5>choose one of our great services</h5>
        <div class="container2">
          <div class="Sdiv">
            <img src="../resources/GPS_Logo.jpg" />
          </div>

          <div class="Sdiv">
            <img src="../resources/Ball_Log.jpg" />
          </div>

          <div class="Sdiv">
            <img src="../resources/Star_Logo.jpg" />
          </div>
        </div>
      </section>

      <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
          <h1>Login</h1>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="UserName" name="email" required />

          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="psw"
            required
          />

          <button type="submit" class="btn">Login</button>
          <button type="button" class="btn cancel" onclick="closeForm()">
            Close
          </button>
        </form>
      </div>
    </main>
    <fotter>
      <h2>For contact</h2>
      <div><span>Email</span>: TheBest_Playbook@gmail.com</div>
      <div><span>Phone Number</span>: 0509842614</div>
      <div><span>Location</span>: Ruppin Academic Center</div>
    </fotter>

    <script src="../scripts/mainPage.js"></script>
  </body>
</html>
