<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up page</title>
    <link rel="stylesheet" href="../styles/sign-up.css" />
  </head>
  <body>
    <form id="regForm" action="">
      <h1>Register:</h1>

      <!-- One "tab" for each step in the form: -->
      <div class="tab">
        Name:
        <p>
          <input type="text" placeholder="First name..." oninput="this.className = ''" />
        </p>
        <p>
          <input type="text"  placeholder="Last name..." oninput="this.className = ''" />
        </p>
      </div>

      <div class="tab">
        Contact Info:
        <p><input type="email"  placeholder="E-mail..." oninput="this.className = ''" /></p>
        <p><input type="tel" placeholder="Phone..." oninput="this.className = ''" /></p>
      </div>

      <div class="tab">
        Birthday:
        <p><input type="date"  placeholder="dd/mm/yyyy" oninput="this.className = ''" /></p>
      </div>

      <div class="tab">
        Login Info:
        <p><input type="text" placeholder="Username..." oninput="this.className = ''" /></p>
        <p><input type="password"  placeholder="Password..." oninput="this.className = ''" /></p>
      </div>

      <div class="tab">
        Strong Foot:
        <div class="custom-select">
          <select>
            <option value="Right/Left">Right/Left...</option>
            <option value="Right">Right</option>
            <option value="Left">Left</option>
          </select>
        </div>
      </div>

      <div class="tab">
        Preffered Position:
        <div class="custom-select">
          <select>
            <option value="ATT/DEF/GK">ATT/DEF/GK</option>
            <option value="ATT">ATT</option>
            <option value="DEF">DEF</option>
            <option value="GK">GK</option>
          </select>
        </div>
      </div>

      <div class="tab">
        Nickname:
        <p>
          <input placeholder="NickName" oninput="this.className = ''" />
        </p>
      </div>
      <div class="tab">
        Addres:
        <p>
          <input placeholder="City..." oninput="this.className = ''" />
        </p>
      </div>

      <div class="tab">
        picture:
        <p><label>Upload your picture: <input type="file" name="myPic"></label></p>
      </div>

      <div style="overflow: auto">
        <div style="float: right">
          <button type="button" id="prevBtn" onclick="nextPrev(-1)">
            Previous
          </button>
          <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
      </div>

      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align: center; margin-top: 40px">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </form>
  </body>
  <script src="../scripts/sign-up.js"></script>
</html>
